@{
    ViewData["Title"] = "Home Page";
}
<body style="background-image: url('CambridgeLogo.jpg')">
    <div class="text-center container">
        <h1 class="display-4">Welcome to University Management</h1>
    </div>
</body>


